*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.Hi{
    height: 100px;
    background-color: beige;
    border-radius: 100%;
    margin-top: -50px;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;    
}

h1{
    color: #FFFF;
    font-weight: 500;
}

.txtmini{
    color: #FFFF;
    margin: 10px 0 10px 0;
}

.botoes{
    display: flex;
    flex-direction: column;
    text-align: center;
}

#btnProjetos, #btnSkills, #btnGithub,  #btnLinkedIn, #btnContato{
    padding: 10px 30px 10px 30px;
    margin: 5px 0 5px 0;
    background-color: #86469C;
    text-decoration: none;
    color: #FFFF;
    font-weight: 500;
    border-radius: 50px;
}

footer{
    font-size: 12px;
    background: linear-gradient(90deg, #2e236c, #7A1CAC);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 10px;
}

.cachorro{
    position: absolute;
    bottom: 5px;
    left: -100px;
    width: 120px;
    height: 100px;
    animation: andar 8s linear infinite;
}

@keyframes andar{
    0% { left: -100px;}
    100%{left: 90vw;}
}

